

.iframe, .iframe * {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    & footer, & header, & #form {
        display: none;
    }

   
}

header {
    text-align: center;

    & > p> span {
        font-weight: bold;
    }
}



body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    &.light {
        background: #ffffff;
        color:  #0d1117;
    }
&.dark {
        background: #0d1117;
        color: white;
    }


}

   @media (prefers-color-scheme: dark) {
    body {
        background: #0d1117;
        color: white;
    }
   }

      @media (prefers-color-scheme: light) {
    body {
        background: #ffffff;
        color: #0d1117
    }
   }

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;;
}