@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

:root {
  --color-execute: #00e436;
  --color-number: #29adff;
  --color-vector2: #7073c3;
  --color-vector3: #0c070a;
  --color-vector4: #ff004c;
  --color-color: #f76707;
  --color-string: #ae3ec9;
  --color-bool: #1d2b53;
  --color-gradient: #f59f00;
  --color-image: #ab5236;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-zoom: none;
}

.number {
  --color-property: var(--color-number);
}
.execute {
  --color-property: var(--color-execute);
}
.vector {
  --color-property: var(--color-vector2);
}
.vector2 {
  --color-property: var(--color-vector2);
}
.vector3 {
  --color-property: var(--color-vector3);
}
.vector4 {
  --color-property: var(--color-vector4);
}
.string {
  --color-property: var(--color-string);
}
.bool {
  --color-property: var(--color-bool);
}
.color {
  --color-property: var(--color-color);
}
.gradient {
  --color-property: var(--color-gradient);
}
.image {
  --color-property: var(--color-image);
}
