@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

:root {
  --color-execute: #00e436;
  --color-number: #29adff;
  --color-vector2: #ff77a8;
  --color-color: #ffa300;
  --color-string: #ff004d;
  --color-bool: #1d2b53;
  --color-gradient: #ffec27;
  --color-image: #ab5236;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-zoom: none;
}

.number {
  --color-property: var(--color-number);
}
.execute {
  --color-property: var(--color-execute);
}
.vector2 {
  --color-property: var(--color-vector2);
}
.string {
  --color-property: var(--color-string);
}
.bool {
  --color-property: var(--color-bool);
}
.color {
  --color-property: var(--color-color);
}
.gradient {
  --color-property: var(--color-gradient);
}
.image {
  --color-property: var(--color-image);
}
