@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Amatic+SC&family=Concert+One&family=Josefin+Sans&family=Lobster&family=Merriweather:wght@300&family=Monomaniac+One&family=Oleo+Script&family=Open+Sans&family=Orbitron&family=Permanent+Marker&family=Pixelify+Sans&family=Titan+One&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

@import '@szhsin/react-menu/dist/transitions/slide.css';

:root {
  --color-pairing: light-dark(#88888855, #88888855);

  --color-background: light-dark(#ffffff, #0d1117);
  --color-background-card: light-dark(#fcfcfc, #22262c);
  --color-background-button: light-dark(#ffffff, #151b23);
  --color-text: light-dark(#000000, #cad1d8);
  --color-text-minor: light-dark(#00000088, #cad1d888);
  --color-background-highghlight: light-dark(#eeeeee, #282828);
  --color-border: light-dark(#222, #dee4ea);
  --color-border-input: light-dark(#22222288, #dee4ea7e);
  --color-screen: light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); /*The color of the screen behing a modal*/
  --color-selected: light-dark(rgba(0, 0, 0, 0.1), rgba(1, 1, 1, 1));
  --color-input: light-dark(#888, #888);
  --color-input-predefined: color-mix(in srgb, var(--color-input), transparent 90%);
  --color-slider-track: light-dark(#eeeeee, #282828);
  --color-slider-output: light-dark(#00000088, #cad1d888);
  --color-disabled: #6e6a86;
  --color-shadow: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 1));
  --color-box-selection: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  --color-warning-track: light-dark(#5c5c5c, #a8a8a8):

  --border-size: 0.2px;
  --card-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

  --border-radius-large: 14px;
  --border-radius-medium: 12px;
  --border-radius-small: 8px;

  --padding-large: 14px;
  --padding-medium: 12px;
  --padding-small: 8px;
  --padding-tiny: 4px;

  --size-text: 14px;

  --gradient-transparent: repeating-conic-gradient(rgba(128, 128, 128, 0.2) 0% 25%, transparent 0% 50%) 50% / 20px 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  color-scheme: light dark;
}

.app {
  height: 100%;
  overflow: hidden;
  user-select: none;
  user-zoom: none;
  background: var(--color-background);
}



body .szh-menu {
  color: var(--color-text);
  background-color: var(--color-background-button);
  border: 1px solid light-dark(rgba(0, 0, 0, 0.1), #333);
  box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.25);

  

  .szh-menu__arrow {
    background-color: var(--color-text);
    border-left-color: light-dark(rgba(0, 0, 0, 0.1), #333);
    border-top-color: light-dark(rgba(0, 0, 0, 0.1), #333);
  }
}
body .szh-menu__item--hover {
  background-color: var(--color-selected);
}
body .szh-menu__item--focusable {
  background-color: inherit;
}
body .szh-menu__item--disabled {
  color: var(--color-disabled);
}

body .szh-menu__divider {
  background-color: color-mix(in srgb, var(--color-text), transparent 90%);
}

iframe {
  display: none;
}
