@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Amatic+SC&family=Concert+One&family=Josefin+Sans&family=Lobster&family=Merriweather:wght@300&family=Monomaniac+One&family=Oleo+Script&family=Open+Sans&family=Orbitron&family=Permanent+Marker&family=Pixelify+Sans&family=Titan+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
html,
body,
#root {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
